# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/

# Generated
dist/
build/
coverage/
docs/
coverage/
dist-ssr
*.local
GITHUB_OUTPUT

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Caches
.eslintcache
